@inherits LayoutComponentBase

<div class="layout">
    <nav class="sidebar">
        <h3>SP Doc Manager</h3>
        <NavLink href="/clients">Clients</NavLink>
        <NavLink href="/clients/provision">Provision Client</NavLink>
    </nav>
    <main>
        @Body
    </main>
</div>
